@media screen and (min-width: 1440px) {
    main {
        width: 920px;
        height: 509px;
        border-radius: 23px;
        box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.50);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        overflow: hidden;
        z-index: 0;
        position: relative;
    }

    .firstimg {
        width: 471.694px;
        position: absolute;
        left: -110px;
        right: 0;
        z-index: 1;
        top: 70px;
        margin-right: 0;
    }

    .shadow {
        background-image: url(./assets/desktopshadow.svg);
        background-repeat: no-repeat;
        width: 964px;
        height: 568px;
        fill: #6862E6;
        position: relative;
        left: -55px;
        top: 80px;
        margin-right: 0;
    }
    .info {
        margin-right: 95px;
        align-items: start;
    }
    .maininf {
        align-items: start;
        margin-left: 0;
    }
    h2 {
        font-size: 14px;
    }
    .show {
        width: 319px;
    }
    .header {
        width: 350px;
        
    }
    h1 {
        margin-bottom: 45px;
    }
    .box {
        display: block;
        position: absolute;
        z-index: 3;
        left: -77px;
        top: 177px;
    }
}